a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.menubar {
  padding: 20px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
  flex-wrap: wrap;
}

.image1 {
  position: relative;
}

.squished {
  position: absolute;
  bottom: 200px;
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.image2 {
  position: relative;
}

.good {
  position: absolute;
  top: 1300px;
  padding-left: 50px;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.image3 {
  position: relative;
}

.squashed {
  position: absolute;
  top: 2050px;
  padding-left: 50px;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
